:root {
	--blink-state1: #e5e5e5;
	--blink-state2: transparent;
}
.watchlint-blink:before {
	animation: _blink 1.5s infinite;
}

#watchlint-scanbutton {
	position: absolute;
	top: 6px;
	right: 6px;
}

#watchlint-scanbutton:disabled:hover {
	background-color: inherit;
	cursor: unset;
}


.watchlint-container {
	position: relative;
}

.watchlint-container:before,
.watchlint-stats:before {
	display: block;
	content: ' ';
	width: 0.8em;
	height: 0.8em;
	border-radius: 100%;
	position: absolute;
	left: -1px;
	top: 5px;
}



#watchlint-stats-empty:before,
.watchlint-empty:before,
#watchlint-stats-disabled:before,
.watchlint-disabled:before {
	width: 0.5em;
	height: 0.5em;
	border: 0.15em solid;
}

#watchlint-stats-empty:before,
.watchlint-empty:before {
	background-color: #e5e5e5;
	border-color: #FF0000;
}
.watchlint-age-0:before  {background-color: #FF0000}
#watchlint-stats-inactive:before,
.watchlint-age-1:before  {background-color: #FF3400}
.watchlint-age-2:before  {background-color: #FF6900}
.watchlint-age-3:before  {background-color: #FF9E00}
#watchlint-stats-middle:before,
.watchlint-age-4:before  {background-color: #FFD300}
.watchlint-age-5:before  {background-color: #F7FF00}
.watchlint-age-6:before  {background-color: #C2FF00}
.watchlint-age-7:before  {background-color: #8DFF00}
.watchlint-age-8:before  {background-color: #58FF00}
#watchlint-stats-recent:before,
.watchlint-age-9:before  {background-color: #24FF00}
.watchlint-age-10:before {background-color: #00FF00}

#watchlint-stats-unknown:before,
.watchlint-unknown:before{background-color: #666}

#watchlint-stats-disabled:before,
.watchlint-disabled:before {
	background-color: #000;
	border-color: #FF0000;
}

@keyframes _blink {
    0%	{background-color: var(--blink-state1)}
    49%	{background-color: var(--blink-state1)}
    50%	{background-color: var(--blink-state2)}
    99%	{background-color: var(--blink-state2)}
    100%{background-color: var(--blink-state1)}
}


a:hover > .watchlint-popup {
	display: block;
}

.watchlint-popup {
	display: none;
	position: absolute;
	top: -1.33em;
	left: 0;
	padding: 0 4px 1px;
	color: #000;
	background: #e5e5e5;
	border-radius: 3px;
	z-index: 99;
}

.watchlint-popup:before {
	display: block;
	content: ' ';
	position: absolute;
	width: 8px;
	height: 8px;
	bottom: -8px;
	background: url('img/popup_thingie.png') no-repeat;
}

.watchlint-stats {
	padding-left: 1em;
}

.watchlint-stats:before {
	display: inline-block;
	position: relative;
	left: -6px;
	top: 1px;
}